.button-group {
    display: flex;
    justify-content: space-between; /* Espacio entre botones */
    gap: 10px; /* Separación adicional */
  }
  
  .button-container {
    margin-bottom: 10px; /* Espacio entre botones cuando están en líneas diferentes */
  }